<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
  <%= javascript_include_tag dtm_url %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="MCaLEYfZB8HfZSTyMQYZyBeRMXGoKt46uvrwEp-KN3M">
  <meta name="msvalidate.01" content="AAA"/>
  <link rel="canonical" href="<%= "#{site_url}#{current_page.path}" %>">
  <title><%= "#{current_page.data.title}" || "Home" %> | OpenShift Developers</title>
  <meta name="description" content="<%= current_page.data.description || "" %>">
  <%= favicon_tag "#{openshift_assets}/subdomain/favicon32x32.png", :rel => "apple-touch-icon-precomposed" %>
  <%= favicon_tag "#{openshift_assets}/subdomain/favicon32x32.png" %>
  <!--[if IE]><%= favicon_tag "#{openshift_assets}/subdomain/favicon.ico" %><![endif]-->
  <%= stylesheet_link_tag "#{openshift_assets}/subdomain.css", :media => "screen, print" %>
  <%= stylesheet_link_tag "devcenter", :media => "screen, print" %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "#{openshift_assets}/html5shiv.js" %>
    <%= javascript_include_tag "#{openshift_assets}/respond.js" %>
    <![endif]-->
  <!-- IE8 requires jQuery and Bootstrap JS to load in head to prevent rendering bugs -->
  <!-- IE8 requires jQuery v1.x -->
  <%= javascript_include_tag "#{openshift_assets}/modernizr.js" %>
  <%= javascript_include_tag "#{openshift_assets}/subdomain.js" %>
  <%= javascript_include_tag "navtree.js" %>
  <%= javascript_include_tag "fixheight.js" %>
</head>
<body class="online">
<%= partial "layouts/tracking" %>
<%= partial "layouts/navbar" %>

<div class="container">
  <div class="row content-header">
    <div class="col-md-8">
      <div class="toggle-nav visible-xs pull-left">
        <button type="button" data-toggle="offcanvas" class="btn btn-default btn-sm">
          Toggle nav
        </button>
      </div>
      <ol class="breadcrumb">
        <li class="sitename">
          <a href="/">Developers</a>
        </li>
        <%= build_breadcrumb(current_page) %>
      </ol>
    </div>
    <div class="col-md-4">
      <div class="report">
        <div class="fa fa-github"></div>
        <a href="/report.html">Report a Content Issue</a>
        or
        <a href="https://github.com/openshift/discoverycenter#contributing">Contribute</a>
      </div>
    </div>
  </div>
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-8 col-sm-3 col-md-3 sidebar sidebar-offcanvas">
      <form id="cse-search-form" method="get" action="/search.html">
        <input type="text" autofocus="" autocomplete="off" tabindex="1" placeholder="Search" class="navbar-search-query form-control" id="cse-search-input" name="query">
        <button value="Search" class="btn btn-default fa fa-search" type="submit"></button>
      </form>

      <% if current_page.path.split(File::SEPARATOR).count == 1 %>
        <ul class="nav nav-sidebar">
          <%= build_navtree() %>
          <li><a href='https://access.redhat.com/documentation/en-US/OpenShift_Online/' target="_blank">Documentation <span class="fa fa-external-link small"></span></a></li>
          <li><a href='/help.html'>Get Help <span class="fa fa-question-circle small"></span></a></li>
        </ul>
      <% else %>
        <ul class="nav nav-sidebar">
          <%= build_navtree(nav_index(current_page)) %>
          <li><a href='https://access.redhat.com/documentation/en-US/OpenShift_Online/' target="_blank">Documentation <span class="fa fa-external-link small"></span></a></li>
          <li><a href='/help.html'>Get Help <span class="fa fa-question-circle small"></span></a></li>
        </ul>
      <% end %>

      <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 main">
      <%= yield %>
    </div>
  </div>
</div>
<%= partial "layouts/footer" %>
<script type="text/javascript">
  <%= content_for?(:javascript) ? yield_content(:javascript) : '' %>
</script>
<script type="text/javascript">
if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
   _satellite.pageBottom();
}
</script>
</body>
</html>
