%ul.nav.nav-tabs.nav-stacked
  %li
    %a{ :href=>"#{site.base_url}" } Platform Features
  %li
    %a{ :href=>"/java" } Java
  %li
    %a{ :href=>"#{site.base_url}" } PHP
  %li
    %a{ :href=>"#{site.base_url}" } Node.js
  %li
    %a{ :href=>"#{site.base_url}" } Python
  %li
    %a{ :href=>"#{site.base_url}" } Jenkins
  %li
    %a{ :href=>"#{site.base_url}" } Ruby
  %li
    %a{ :href=>"#{site.base_url}" } Perl
  %li
    %a{ :href=>"#{site.base_url}" } More Languages and Runtimes
