<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
/[if lt IE 9]
  %script{ :type=>'text/javascript', :src=>"#{site.static_assets_url}/html5shiv.js" }
  %script{ :type=>'text/javascript', :src=>"#{site.static_assets_url}/respond.js" }
  %link{ :href=>"#{site.static_assets_url}/vendor/respond-js/respond-proxy.html", :id=>"respond-proxy", :rel=>"respond-proxy" }
  %link{ :href=>"#{site.base_url}/images/respond.proxy.gif", :id=>"respond-redirect", :rel=>"respond-redirect" }
  %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/respond.proxy.js" }
%script{ :type=>'text/javascript', :src=>"#{site.static_assets_url}/subdomain.js" }
%script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-offcanvas.js" }
%script{ :type=>'text/javascript', :src=>"#{site.static_assets_url}/modernizr.js" }