!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Developer Center
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/asciidoc.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/bootstrap.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/bootstrap-theme.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/dashboard.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} OpenShift Developer Center
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "#"} Documentation
            %li
              %a{href: "#"} Support
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Content
                %span.caret
              %ul.dropdown-menu{role: "menu"}
                %li
                  %a{href: "/en/introduction-to-paas.html"} Intro to PaaS
                %li
                  %a{href: "/en/getting-started.html"} Getting Started
                %li
                  %a{href: "/en/platform-features.html"} Platform Features
                %li.divider
                %li
                  %a{href: "/en/java"} Java
                %li
                  %a{href: "#"} PHP
          %form.navbar-form.navbar-right
            %input.form-control{placeholder: "Search...", type: "text"}/
            / /.nav-collapse
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li
              %a{href: "/en/introduction-to-paas.html"} Introduction to PaaS
            %li
              %a{href: "/en/getting-started.html"} Getting Started
            %li
              %a{href: "/en/platform-features.html"} Platform Features
          %ul.nav.nav-sidebar
            %li.nav-header
              %a{"data-target" => "#javaMenu", "data-toggle" => "collapse", href: "#"}
                Java
                %span.glyphicon.glyphicon-chevron-right
              %ul#javaMenu.collapse{style: "list-style: none;"}
                %li
                  %a{href: "/en/java"} Java Home
                %li
                  %a{href: "/en/java/migrating-an-existing-application.html"} Migrating an Existing App
                %li
                  %a{href: "/en/java/storing-data.html"} Storing Data
                %li
                  %a{href: "/en/java/services.html"} Services
                %li
                  %a{href: "/en/java/advanced-use-cases.html"} Advanced Use Cases
                %li
                  %a{href: "/en/java/managing-an-application.html"} Managing an Application
                %li
                  %a{href: "/en/java/featured-java-apps.html"} Featured Java Apps
                %li
                  %a{href: "/en/java/tutorials-and-examples.html"} Tutorials and Examples
                %li
                  %a{href: "/en/java/tooling.html"} Tooling
            %li.nav-header
              %a{"data-target" => "#phpMenu", "data-toggle" => "collapse", href: "#"}
                PHP
                %span.glyphicon.glyphicon-chevron-right
              %ul#phpMenu.collapse{style: "list-style: none;"}
                %li
                  %a{href: "#"} PHP Home
                %li
                  %a{href: "#"} Migrating an Existing App
                %li
                  %a{href: "#"} Storing Data
                %li
                  %a{href: "#"} Services
                %li
                  %a{href: "#"} Advanced Use Cases
                %li
                  %a{href: "#"} Managing an Application
                %li
                  %a{href: "#"} Featured Java Apps
                %li
                  %a{href: "#"} Tutorials and Examples
                %li
                  %a{href: "#"} Tooling
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          ~ content
      %hr
      %footer
        %p &copy; Shawn Purtell #{Date.today.year}
      %script{ :type=>'text/javascript', :src=>"//code.jquery.com/jquery-1.11.0.min.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap.js" }
      :javascript
        $('[data-toggle=collapse]').click(function(){
          // toggle icon
          $(this).find("span").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
        });
        $('.collapse').on('show', function (e) {
            // hide open menus
            $('.collapse').each(function(){
              if ($(this).hasClass('in')) {
                  $(this).collapse('toggle');
              }
            });
        });
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    -# %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
