!!!5
/[if IE 8]<html class="ie8">
/[if IE 9]<html class="ie9">
<!--[if gt IE 9]><!-->
%html
  <!--<![endif]-->
  %head
    %meta{ :charset=>'utf-8' }
    %meta{ 'http-equiv'=>'X-UA-Compatible', 'content'=>'IE=edge' }
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %meta{ :name=>'description', :content=>"All the information and resources you need to develop and host your applications in the cloud." }
    %meta{ :name=>'google-site-verification', :content=>"MCaLEYfZB8HfZSTyMQYZyBeRMXGoKt46uvrwEp-KN3M" }
    %title
      Home | OpenShift Developers
    = partial( 'styles.html.haml' )
    = partial( 'scripts.html.haml' )
    :javascript
      google.setOnLoadCallback(function() {
        google.search.CustomSearchControl.attachAutoCompletionWithOptions('013769182564158614814:lt-zcblgpx4', document.getElementById('cse-search-input-body'), 'cse-search-form-body', {'maxCompletions' : 5});
      }, true);
  %body.devcenter-home
    = partial( 'openshift-header.html.haml' )
    %header.masthead.masthead-devcenter.text-center
      .container
        .title-inner
          %h1 OpenShift Developers
          .tag Your code. Your choice.
          .col-md-7.col-sm-8.col-xs-8.center-block{:style => "float:none;"}
            .search-form
              %form#cse-search-form-body.search.has-button{:action => "https://help.openshift.com/hc/en-us/search", :method => "get", :role => "form"}
                .form-group
                  .search-pf-input-group
                    %input#cse-search-input-body.form-control{:autocomplete => "off", :dir => "ltr", :name => "query", :placeholder => "Search the Developer Portal", :spellcheck => "false", :style => "outline: none;", :type => "search"}
                .form-group
                  %button.btn.btn-default{:type => "button"}
                    %span.fa.fa-search
    .landing.landing-devcenter.cushion-bottom
      .container
        .row.text-center
          .col-md-4.col-sm-4.get-started-bloc
            %a{:href => "en/getting-started-overview.html"}
              .section-mark
                %img{:alt => "get started icon", :src => "../images/circle-icon-get-started.png"}/
              %h2 Get Started
            %span Get your first application up and running and learn the basics of OpenShift.
          .col-md-4.col-sm-4.documentation-bloc
            %a{:href => "/en/overview-what-is-openshift.html"}
              .section-mark
                %img{:alt => "documentation icon", :src => "../images/circle-icon-documentation.png"}/
              %h2 Browse Content
            %span Explore the content in the portal and access language-specific guides and tutorials.
          .col-md-4.col-sm-4.help-bloc
            %a{:href => "https://help.openshift.com"}
              .section-mark
                %img{:alt => "need help icon", :src => "../images/circle-icon-help.png"}/
              %h2 Need Help?
            %span Visit the OpenShift Online Help Center for a complete list of available resources.
    .landing.cushion
      .container
        .row
          .col-md-10.col-centered
            .row
              .col-sm-5
                %h3 Featured Content
                .list-group.left-list-group
                  .list-group-item.content-basic
                    %a{:href => "en/overview-what-is-openshift.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading What is OpenShift?
                      %p.list-group-item-text An OpenShift Online overview
                  .list-group-item.content-basic
                    %a{:href => "en/getting-started-overview.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading Getting Started on OpenShift
                      %p.list-group-item-text A collection of guides by OS and language
                  .list-group-item.content-basic
                    %a{:href => "en/languages-overview.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading Cartridge Overview
                      %p.list-group-item-text Learn about using available cartridges
                  .list-group-item.content-basic
                    %a{:href => "en/managing-overview.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading Managing Applications
                      %p.list-group-item-text A collection of guides about managing applications
                  .list-group-item.content-basic
                    %a{:href => "en/xpass-overview.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading JBoss xPaaS
                      %p.list-group-item-text Use powerful JBoss Middleware on OpenShift
              .col-sm-5.col-sm-offset-1
                %h3.right-list-group New Content
                .list-group.right-list-group
                  .list-group-item.content-basic
                    %a{:href => "en/languages-overview.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading OpenShift on Windows
                      %p.list-group-item-text Get started on a Windows machine
                  .list-group-item.content-basic
                    %a{:href => "en/managing-log-files.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading Working with Log Files
                      %p.list-group-item-text Access and tail log files for your application
                  .list-group-item.content-basic
                    %a{:href => "en/managing-regions-and-zones.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading Regions and Zones
                      %p.list-group-item-text Launch appplications in different regions
                  .list-group-item.content-basic
                    %a{:href => "en/managing-remote-connection.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading Remote Connection and SSH
                      %p.list-group-item-text Remotely connect to your application
                  .list-group-item.content-basic
                    %a{:href => "en/wildfly-overview.html"}
                      %i.fa.fa-arrow-circle-right.fa-fw.fa-2x.pull-right
                      %h4.list-group-item-heading Wildfly on OpenShift
                      %p.list-group-item-text Explore the latest Wildfly cartridge
    = partial( 'analytics.html.haml' )
    = partial( 'footer.html.haml' )
